<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Create New Member/Santri</div>

                    <div class="card-body">
                    <form v-on:submit="submitPost()">
                      <div class="form">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="First name" v-model="posts.firstName">
                        </div><br>
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Last name" v-model="posts.lastName">
                        </div><br>
                        <div class="form-group">
                          <button type="submit" class="btn btn-success">Create</button>
                        </div>
                        <div class="form-group">
                          <router-link to="/" class ="btn btn-warning">Cancel</router-link>
                        </div>
                      </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import axios from 'axios';

export default {
  data : function () {
    return {
      posts: {
        firstName :'',
        lastName : '',
      },
      errors: []
    }
  },
  methods: {
  submitPost() {
      axios.post('/santris', this.posts)
      .then(response => {
        // JSON responses are automatically parsed.
        console.log('test')
        this.posts = response.data
      })
      .catch(e => {
        this.errors.push(e)
      })
    }
  }
}
</script>