<template>
  <div class="card">
    <div class="card-header">
      <router-link to="/create" class ="btn btn-info float-right">CREATE NEW POST</router-link>
    </div>
    <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">First name</th>
          <th scope="col">Last Last Name</th>
          <th scope="col" widht="50">Handle</th>
          <th scope="col" widht="50">Handle</th>
          <th scope="col" widht="50">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>
            <button type="submit" class="btn btn-info">view</button>
          </td>
          <td>
            <button type="submit" class="btn btn-warning">edit</button>
          </td>
          <td>
            <button type="submit" class="btn btn-danger">delete</button>
          </td>
        </tr>

      </tbody>
      </table>
    </div>
  </div>
</template>
